<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
 <style>

  body {position: relative; }

  #section1 {padding-top:50px;height:500px;color: #fff; background-color: #1E88E5;}

  #section2 {padding-top:50px;height:500px;color: #fff; background-color: #673ab7;}

  #section3 {padding-top:50px;height:500px;color: #fff; background-color: #ff9800;}

  #section41 {padding-top:50px;height:500px;color: #fff; background-color: #00bcd4;}

  #section42 {padding-top:50px;height:500px;color: #fff; background-color: #009688;}

  </style>

</head>



<body data-spy="scroll" data-target=".navbar" data-offset="50">



<nav class="navbar navbar-inverse navbar-fixed-top">

  <div class="container-fluid">

    <div class="navbar-header">

        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">

          <span class="icon-bar"></span>

          <span class="icon-bar"></span>

          <span class="icon-bar"></span>

      </button>

      <a class="navbar-brand" href="#">홈짱닷컴</a>

    </div>

    <div>

      <div class="collapse navbar-collapse" id="myNavbar">

        <ul class="nav navbar-nav">

          <li><a href="#section1">HTML</a></li>

          <li><a href="#section2">CSS</a></li>

          <li><a href="#section3">JS</a></li>

          <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">서버측 <span class="caret"></span></a>

            <ul class="dropdown-menu">

              <li><a href="#section41">PHP</a></li>

              <li><a href="#section42">SQL</a></li>

            </ul>

          </li>

        </ul>

      </div>

    </div>

  </div>

</nav>



<div id="section1" class="container-fluid">

  <h1>HTML</h1>

  <p>뼈대</p>

</div>

<div id="section2" class="container-fluid">

  <h1>CSS</h1>

  <p>디자인</p>

</div>

<div id="section3" class="container-fluid">

  <h1>JS</h1>

  <p>동작기능</p>

</div>

<div id="section41" class="container-fluid">

  <h1>PHP</h1>

  <p>웹서버와 DB 중계처리</p>

</div>

<div id="section42" class="container-fluid">

  <h1>SQL</h1>

  <p>DB관리</p>

</div>


</body>
</html>